# Large News Corpus Data Cleaning

In [21]:
import pandas as pd
import numpy as np
import os

In [11]:
files = os.listdir('data/news')

In [12]:
files

['news_09.txt',
 'news_08.txt',
 'news_18.txt',
 'news_19.txt',
 'news_03.txt',
 'news_17.txt',
 'news_16.txt',
 'news_02.txt',
 'news_14.txt',
 'news_01.txt',
 'news_15.txt',
 'news_11.txt',
 'news_05.txt',
 'news_04.txt',
 'news_10.txt',
 'news_06.txt',
 'news_12.txt',
 'news_13.txt',
 'news_07.txt']

In [13]:
all_text = pd.DataFrame()

In [14]:
for file in files:
    print(file)
    df = pd.read_csv('data/news/'+file, header=None, index_col=False, sep="\n")
    print("Start shape:", df.shape)
    df['len'] = [len(x.split()) for x in df[0].tolist()]
    df = df[df['len'] > 100]
    df = df.rename(columns={0:'text'})
    df = df[['text']]
    print("Ending shape:", df.shape)
    all_text = all_text.append(df, ignore_index=True)
    print('\n')

news_09.txt
Start shape: (99934, 1)
Ending shape: (76857, 1)


news_08.txt
Start shape: (99879, 1)
Ending shape: (76783, 1)


news_18.txt
Start shape: (99995, 1)
Ending shape: (77983, 1)


news_19.txt
Start shape: (59906, 1)
Ending shape: (45004, 1)


news_03.txt
Start shape: (99917, 1)
Ending shape: (72512, 1)


news_17.txt
Start shape: (99996, 1)
Ending shape: (80741, 1)


news_16.txt
Start shape: (99990, 1)
Ending shape: (79066, 1)


news_02.txt
Start shape: (99911, 1)
Ending shape: (70717, 1)


news_14.txt
Start shape: (99961, 1)
Ending shape: (79558, 1)


news_01.txt
Start shape: (99882, 1)
Ending shape: (73875, 1)


news_15.txt
Start shape: (99966, 1)
Ending shape: (79176, 1)


news_11.txt
Start shape: (99996, 1)
Ending shape: (78985, 1)


news_05.txt
Start shape: (99808, 1)
Ending shape: (71965, 1)


news_04.txt
Start shape: (99937, 1)
Ending shape: (75953, 1)


news_10.txt
Start shape: (99844, 1)
Ending shape: (74598, 1)


news_06.txt
Start shape: (99742, 1)
Ending shape: (75072, 1)


news_12.txt
Start shape: (99991, 1)
Ending shape: (78925, 1)


news_13.txt
Start shape: (99978, 1)
Ending shape: (81071, 1)


news_07.txt
Start shape: (99637, 1)
Ending shape: (74451, 1)

In [15]:
all_text.head()

                                                text
0  Товчхон Сүүлийн жилүүдэд хөдөлмөрчид, ард иргэ...
1  Товчхон Мэргэжлийн боловсрол сургалтын салбарт...
2  Товчхон Эх хэлээ эрхэмлэн дээдлэх, бичиг соёлы...
3  Товчхон 0Улс түмнүүдийн эв нэгдэл, найрамдал н...
4  Товчхон "Явуулын студи" нэвтрүүлгийн энэ удааг...

In [16]:
all_text.tail()

                                                      text
1423287  1 цаг 14 минутын өмнө Tweet Илгээх Хэвлэх УЛАА...
1423288  1 цаг 5 минутын өмнө Манай улсын нэгэн адил би...
1423289  1 цаг 15 минутын өмнө ХАВРЫН ЭХЭН ЦАГААН БАР С...
1423290  1 цаг 24 минутын өмнө Өнөөдөр зүүн зүгийн нутг...
1423291  Малчид, тээвэрчид, ард иргэдэд зориулсан мэдээ...

In [17]:
all_text.shape

(1423292, 1)

In [18]:
all_text['len'] = [len(x.split()) for x in all_text['text'].tolist()]

In [19]:
all_text['len'].sum() / 1_000_000

564.832935

564 million words is A LOT. It's probable that this is big enough that a smaller dataset would perform well enough. The Wikitext-103 dataset is about 100 million word. I will cut this down to 40%, which should be around 220 million words.

In [22]:
all_text['filter'] = np.random.choice([0,1], size=len(all_text), p=[0.6, 0.4])

In [23]:
all_text = all_text[all_text['filter'] == 1].drop(columns=['filter'])

In [25]:
all_text.shape

(568734, 2)

In [26]:
length = [len(x.split()) for x in all_text['text'].tolist()]

In [28]:
sum(length) / 1_000_000

225.64644

In [29]:
all_text.to_csv('data/news.txt', index=False, header=False)